.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
  height: 576px;
}

.hero {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero h1 {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
  padding-top: 200px;
  font-weight: bold;
  font-size: 72px;
  letter-spacing: 5px;
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
  height: 576px;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 576px;
}

@media (width >= 900px) {
  .hero {
    padding: 40px 32px;
  }
}